@{
    ViewData["Title"] = "thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-dangi"
    <p>Mã sinh viên: 2310900095 </p>
    <p>Họ và tên: Tạ VĂN Tân</p>
    <p>Emaill:Tavantan113355@gmail.com</p>
    <p>Điện thoại:0867437604</p>
    <p>Lớp: k23CNTT3-net</p>
</div>